<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddInfo</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
	.form-group{
	margin: 1rem 1rem 1rem 1rem;
	}
	.form-check{
	margin: 1rem 1rem 1rem 1rem;
	}
	.btn-primary{
	margin: 1rem 1rem 1rem 1rem;
	}
	header{
	margin:1rem 0rem 0rem 1rem;
	
	}
	</style>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="nav-link" href="/index">Index</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/viewI">View Info <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/updateI">Update Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deleteI">Delete Info</a>
      </li>
    </ul>
  </div>
</nav>

<!-- main part -->

	<header>
        <h3>Please enter student details</h1>
    </header>

    <form action="/addStd" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" placeholder="Enter Username" name="name">
    <small class="form-text text-muted">For eg: Akash</small>
  </div>
   <div class="form-group">
    <label for="username">Student ID</label>
    <input type="text" class="form-control" placeholder="Enter Student ID" name="id">
    <small class="form-text text-muted">For eg: KOD123xx</small>
  </div>
  <div class="form-group">
    <label style="margin-right:2.5rem ;" class="label-viewInfo">Branch</label>
                            <select name="branch" style="border-radius:0.2rem">
                              <option value="null">--select--</option>
                              <option value="civil">Civil</option>
                              <option value="cse">CSE</option>
                              <option value="ece">ECE</option>
                              <option value="elec">Electrical</option>
                              <option value="indus">Industrial</option>
                              <option value="mech">Mechanical</option>
                              <option value="petro">Petroleum</option>
                              
                            </select>
  </div>
  <button type="submit" class="btn btn-primary">ADD STUDENT</button>
</form>
</body>
</html>