<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
	.form-group{
	margin: 1rem 1rem 1rem 1rem;
	}
	.form-check{
	margin: 1rem 1rem 1rem 1rem;
	}
	.btn-primary{
	margin: 1rem 1rem 1rem 1rem;
	width:25vw;
	}
	.main-div{
	text-align:center;
	}
	.main-div{
	margin: 4rem 1rem 1rem 1rem;
	}
	h1{
	margin:2rem 1rem 1rem 1rem;
	}
	
	
		
	</style>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="nav-link" href="/index">Index</a>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/viewI">View Info <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addI">Add Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/updateI">Update Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deleteI">Delete Info</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/viewAll">View All</a>
      </li>
    </ul>
  </div>
</nav>

<!-- main part -->
<h1 align="center"> Welcome to Student Management</h1>
<div class="main-div">
   <p>
  <a class="btn btn-primary" href="/viewI" role="button" >
    VIEW INFO
  </a><br>
  <a class="btn btn-primary" href="/addI" role="button">
    ADD INFO
  </a><br>
  <a class="btn btn-primary" href="/updateI" role="button">
    UPDATE INFO
  </a><br>
  <a class="btn btn-primary" href="/deleteI" role="button">
    DELETE INFO
  </a>
</div>

<div class="card">
  <div class="card-body">
    <small class="form-text text-muted">@Student-Management-System 2023</small>
  </div>
</div>

</body>
</html>