<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" href="mystyle.css">
<header>
    <h1>Login</h1>
</header>
</head>
<body>
<main class="container-main">
<form align="center" action="" method="">
    <div class="form-element">
        <label>
            Username
        </label>
        <input type="text" name="name" class="text-area" ><br><br>
        <label>
        Password
        </label>
        <input type="password" name="password" class="text-area"><br>
    </div>
    
    <input type="submit" class="submit-btn">
    
</form>

</main>

</body>
</html>