<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet" href="mystyle.css">
 <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp">
 <header>
	<h1>Registration</h1>
 </header>
</head>
<body>
<div class="container-main">
	<h3>Fill the details below to register</h3>
	<main>
		<form align="right">
			<div class="form-element">
			<label>Username</label>
			<input type="text" name="username" class="text-area"><br><br>
			
			<label>Email</label>
			<input type="email" name="email" class="text-area"><br><br>
			
			<label>Password</label> 
			<input type="password" name="password" class="text-area"><br> <br>

			<label>Re-Enter Password</label>
			<input type="password" name="re_password" class="text-area"><br><br>
			 
			<label>Gender</label>
			<input type="checkbox"> <label>Male</label>
			<input type="checkbox"> <label>Female</label>
			<input type="checkbox"> <label>Others</label><br><br>
				
			<label>DOB</label>
			<input type="date"><br><br>

			<label>Mobile</label> 
			<input	type="tel" name="mobile" class="text-area"><br><br>
		</div>
		<div class="submit-btn-div">
			<input stalign="center" type="submit" class="submit-btn">
		
		</div>
			

		</form>
	</main>
</div>
</body>
</html>